/*
color picker= cmd + shift + c
preview= ctrl + shift + h
*/

body {
  font-size: 16px;
  font-family: "helvetica neue";
}


.nav a{
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.logo {
  padding: 5px 0px 0px 5px;
}

.customers p{
  background-color: white;
  color: black;
  display: inline-block;
  text-align: center;
  padding: 10px 10px
}
